<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="1729bc06-1dc2-446b-9718-0c69df933ee8" name="WordConversion" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="1729bc06-1dc2-446b-9718-0c69df933ee8fileName">WordConversion</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
