<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="ae96f65e-ecfc-4eb0-b575-e803f61eaf96" name="URL" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="ae96f65e-ecfc-4eb0-b575-e803f61eaf96fileName">URL</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
