<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project name="MyProject-ED" soapui-version="6.0.0" activeEnvironment="TEST" abortOnError="false" runType="SEQUENTIAL" resourceRoot="${projectDir}" id="fb92ba03-efcf-4e18-9f85-b61d1d0e0279" lastOpened="2017-04-18T18:42:28.748+02:00" updated="2.6.0" encryptionMode="Not encrypted" compositeProjectFormat="1.3" savePropertyValues="false" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="fb92ba03-efcf-4e18-9f85-b61d1d0e0279fileName">MyProject-soapui-project</con:setting>
  </con:settings>
  <con:vcsConfiguration>
    <con:vcsName>Git</con:vcsName>
    <con:repositoryIdentifier>https://github.com/asseldonk01/Soapui.git</con:repositoryIdentifier>
  </con:vcsConfiguration>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:requirements/>
  <con:properties>
    <con:property>
      <con:name>Dag</con:name>
      <con:value>2011-04-14T37:01:02Z</con:value>
    </con:property>
    <con:property>
      <con:name>OphogenUren</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>ResetUren</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>Combinatie</con:name>
      <con:value>Y</con:value>
    </con:property>
    <con:property>
      <con:name>Verzoeker</con:name>
      <con:value>J. van Hemert</con:value>
    </con:property>
    <con:property>
      <con:name>Verweerder</con:name>
      <con:value>H. verweerder</con:value>
    </con:property>
    <con:property>
      <con:name>GerechtCode</con:name>
      <con:value>AR005</con:value>
    </con:property>
    <con:property>
      <con:name>InstantieCode</con:name>
      <con:value>0809</con:value>
    </con:property>
    <con:property>
      <con:name>Gerecht</con:name>
      <con:value>Middelburg</con:value>
    </con:property>
    <con:property>
      <con:name>Instantie</con:name>
      <con:value>Zeeland</con:value>
    </con:property>
    <con:property>
      <con:name>Omgeving</con:name>
      <con:value>FAT1</con:value>
    </con:property>
    <con:property>
      <con:name>EkantonNaamTeller</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>Driver</con:name>
      <con:value>oracle.jdbc.driver.OracleDriver</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@//zmtcl020.rechtspraak.minjus.nl:1521/NKP11GT2.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT1</con:name>
      <con:value>${#Project#ConnectionStringZaak_FAT}</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_TEST</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_ONTW</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@zmodb153:1521:REGIO</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak</con:name>
      <con:value>${#Project#ConnectionStringZaak_${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT</con:name>
      <con:value>zmtas378.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT1</con:name>
      <con:value>${#Project#Endpoint_FAT}</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_TEST</con:name>
      <con:value>zmtas373.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_ONTW</con:name>
      <con:value>zmoas373.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value>http://${#Project#Endpoint_${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>zetAutorisatie</con:name>
      <con:value>rs_autorisatie_owner.pps_vpd_context.set_context_oe('12');</con:value>
    </con:property>
    <con:property>
      <con:name>DB_USER_ZAAK</con:name>
      <con:value>RS_ZAAK_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_ZAAK</con:name>
      <con:value>RS_ZAAK_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijFAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtcl020.rechtspraak.minjus.nl:1521/NKP11GT2.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijTEST</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijONTW</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@zmodb045:1521:NKP11G</con:value>
    </con:property>
    <con:property>
      <con:name>DB_USER_PARTIJ</con:name>
      <con:value>RS_PARTIJ_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_PARTIJ</con:name>
      <con:value>RS_PARTIJ_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartij</con:name>
      <con:value>${#Project#ConnectionStringPartij${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>EndpointINTSIT</con:name>
      <con:value>http://zmtas366.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringINTSIT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER}/${#Project#DB_PASSWORD}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijINTSIT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>EndpointGAT</con:name>
      <con:value>zmacl063.a-rechtspraak.minjus.nl:80</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringGAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER}/${#Project#DB_PASSWORD}@zmacl018.a-rechtspraak.minjus.nl:1521/NKP11GA.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijGAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@zmacl018.a-rechtspraak.minjus.nl:1521/NKP11GA.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>Zaakaanduiding</con:name>
      <con:value>2011845</con:value>
    </con:property>
    <con:property>
      <con:name>serviceGenericProjectName</con:name>
      <con:value>Project-B</con:value>
    </con:property>
    <con:property>
      <con:name>serviceGenericWsdlProjectFile</con:name>
      <con:value>Project-B-soapui-project.xml</con:value>
    </con:property>
    <con:property>
      <con:name>PIET</con:name>
    </con:property>
    <con:property>
      <con:name>JOOP</con:name>
    </con:property>
    <con:property>
      <con:name>Resource</con:name>
    </con:property>
    <con:property>
      <con:name>TestRESTsite</con:name>
    </con:property>
  </con:properties>
  <con:afterLoadScript/>
  <con:wssContainer/>
  <con:databaseConnectionContainer>
    <con:databaseConnection>
      <con:name>MyDBCon</con:name>
      <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
      <con:password/>
      <con:connectionProperties/>
    </con:databaseConnection>
  </con:databaseConnectionContainer>
  <con:jmsConnectionContainer/>
  <con:oAuth2ProfileContainer/>
  <con:oAuth1ProfileContainer/>
  <con:eventHandlers type="SubmitListener.afterSubmit" name="SubmitListener.afterSubmit">
    <con:script disabled="true">// Get the submit class from soapui, WsdlSubmit
//log.info submit

// Get the response class from soapui, WsdlSinglePartHttpResponse
//log.info submit.response

// Get the response header
//log.info submit.response.responseHeaders

// Get the response header
//log.info submit.response.responseHeaders['X-AspNet-Version']

// Get the response header version
def version = submit.response.responseHeaders['X-AspNet-Version']
log.info "Version: $version"</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="SubmitListener.beforeSubmit" name="SubmitListener.beforeSubmit">
    <con:script disabled="true">// Determine class, WsdlTestRequest
//log.info submit.request

// Based on class WsdlTestRequest, look for method to set the request header
//log.info submit.request.setRequestHeaders()

// Change the header
import com.eviware.soapui.support.types.StringToStringMap
def headers = new StringToStringMap()
headers.put("MyCoolHeader","TheCoolestValue")
submit.request.setRequestHeaders(headers)</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.beforeTestCase" name="TestSuiteRunListener.beforeTestCase">
    <con:script>import com.eviware.soapui.support.UISupport
UISupport.showInfoMessage("Run $testCase.name?")</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.beforeRun" name="TestSuiteRunListener.beforeRun" target="&quot;Properties*&quot;">
    <con:script>log.info "TestSuite run listener. beforerun is running for testsuite starting with properties"</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="RequestFilter.filterRequest" name="RequestFilter.filterRequest" target="ConversionRateEmptyNodes">
    <con:script>def groovyUtils = new com.eviware.soapui.support.GroovyUtils( context )
def stepName = context.getCurrentStep().getLabel()

def holder = groovyUtils.getXmlHolder( stepName + "#Request" )

// set default value here
def defaultVal = ""

for( item in holder.getDomNodes( "//*[. = '']" )){
holder.removeDomNodes("//"+item.nodeName)
}
// update request
holder.updateProperty()
// write updated request back to teststep
context.requestContent = holder.xml</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.afterTestCase" name="TestSuiteRunListener.afterTestCase">
    <con:script disabled="true">testStepList = testRunner.getTestCase().getTestStepList()

for(testSteps in it.testStepList) {      	
	type = testSteps.config.type             	
     if (type == "calltestcase") {   
     	propList = testSteps.getReturnProperties()      			  
     	propList.each {    			     	
	    		testSteps.setPropertyValue(it, "")       		
    		 }      			         
	} 			  
}</con:script>
  </con:eventHandlers>
  <con:eventHandlers type="TestSuiteRunListener.afterRun" name="TestSuiteRunListener.afterRun">
    <con:script>testCaseList =  testRunner.getTestCaseList

testStepList = testRunner.getTestCase().getTestStepList()



for(testSteps in it.testStepList) {      	
	type = testSteps.config.type             	
     if (type == "calltestcase") {   
     	propList = testSteps.getReturnProperties()      			  
     	propList.each {    			     	
	    		testSteps.setPropertyValue(it, "")       		
    		 }      			         
	} 			  
}</con:script>
  </con:eventHandlers>
  <con:sensitiveInformation/>
  <con:environment name="PROD" id="345e1c72-5f24-43d7-8087-0f4d164e5129">
    <con:service type="SOAP" name="CurrencyConvertorSoap">
      <con:endpoint domain="" incomingWss="" outgoingWss="" password="" username="" wssTimeToLive="" wssType="" authProfile="No Authorization">http://www.webservicex.com/currencyconvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CurrencyConvertorSoap12">
      <con:endpoint domain="" incomingWss="" outgoingWss="" password="" username="" wssTimeToLive="" wssType="" authProfile="No Authorization">http://www.webservicex.com/currencyconvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="REST" name="http://localhost:9999">
      <con:endpoint authProfile="No Authorization"/>
    </con:service>
    <con:service type="REST" name="https://${#Project#TestRESTsite}">
      <con:endpoint authProfile="No Authorization">https://httpbin.org</con:endpoint>
    </con:service>
    <con:property>
      <con:name>Dag</con:name>
      <con:value>2011-04-14T37:01:02Z</con:value>
    </con:property>
    <con:property>
      <con:name>OphogenUren</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>ResetUren</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>Combinatie</con:name>
      <con:value>2</con:value>
    </con:property>
    <con:property>
      <con:name>Verzoeker</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Verweerder</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>GerechtCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>InstantieCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Gerecht</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Instantie</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Omgeving</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EkantonNaamTeller</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Driver</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_TEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_ONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_TEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_ONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>zetAutorisatie</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_USER_ZAAK</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_ZAAK</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijFAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijTEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_USER_PARTIJ</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_PARTIJ</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartij</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EndpointINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EndpointGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Zaakaanduiding</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>serviceGenericProjectName</con:name>
      <con:value>Project-B</con:value>
    </con:property>
    <con:property>
      <con:name>serviceGenericWsdlProjectFile</con:name>
      <con:value>Project-B-soapui-project.xml</con:value>
    </con:property>
    <con:property>
      <con:name>PIET</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>JOOP</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Resource</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRESTsite</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>MyDBCon</con:name>
        <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment name="TEST" id="ec4d515b-b341-4a35-a45b-8e24037e8d0c">
    <con:service type="SOAP" name="CurrencyConvertorSoap">
      <con:endpoint domain="" incomingWss="" outgoingWss="" password="" username="" wssTimeToLive="" wssType="" authProfile="No Authorization">http://www.webservicex.com/currencyconvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CurrencyConvertorSoap12">
      <con:endpoint domain="" incomingWss="" outgoingWss="" password="" username="" wssTimeToLive="" wssType="" authProfile="No Authorization">http://www.webservicex.com/currencyconvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="REST" name="http://localhost:9999">
      <con:endpoint authProfile="No Authorization">http://localhost:9999</con:endpoint>
    </con:service>
    <con:service type="REST" name="https://${#Project#TestRESTsite}">
      <con:endpoint authProfile="No Authorization">https://httpbin.org</con:endpoint>
    </con:service>
    <con:property>
      <con:name>Dag</con:name>
      <con:value>2011-04-14T37:01:02Z</con:value>
    </con:property>
    <con:property>
      <con:name>OphogenUren</con:name>
      <con:value>7</con:value>
    </con:property>
    <con:property>
      <con:name>ResetUren</con:name>
      <con:value>19</con:value>
    </con:property>
    <con:property>
      <con:name>Combinatie</con:name>
      <con:value>1</con:value>
    </con:property>
    <con:property>
      <con:name>Verzoeker</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Verweerder</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>GerechtCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>InstantieCode</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Gerecht</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Instantie</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Omgeving</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EkantonNaamTeller</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Driver</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_TEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_ONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_TEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_ONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>zetAutorisatie</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_USER_ZAAK</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_ZAAK</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijFAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijTEST</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijONTW</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_USER_PARTIJ</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_PARTIJ</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartij</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EndpointINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijINTSIT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>EndpointGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijGAT</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Zaakaanduiding</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT1</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>serviceGenericProjectName</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>serviceGenericWsdlProjectFile</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>PIET</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>JOOP</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Resource</con:name>
      <con:value>get</con:value>
    </con:property>
    <con:property>
      <con:name>TestRESTsite</con:name>
      <con:value>httpbin.org</con:value>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>MyDBCon</con:name>
        <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:environment id="32604c2b-e809-44a8-b0dc-cd6f0aeb4019" name="VOORLOOP">
    <con:service type="SOAP" name="CurrencyConvertorSoap">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://www.webservicex.com/currencyconvertor.asmx</con:endpoint>
    </con:service>
    <con:service type="SOAP" name="CurrencyConvertorSoap12">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://ASUSTESTEA:8088/</con:endpoint>
    </con:service>
    <con:service type="REST" name="http://localhost:9999">
      <con:endpoint authProfile="No Authorization" username="" password="" domain="" incomingWss="" outgoingWss="" wssTimeToLive="" wssType="">http://localhost:9999</con:endpoint>
    </con:service>
    <con:service type="REST" name="https://${#Project#TestRESTsite}">
      <con:endpoint authProfile="No Authorization">https://httpbin.org</con:endpoint>
    </con:service>
    <con:property>
      <con:name>Dag</con:name>
      <con:value>2011-04-14T37:01:02Z</con:value>
    </con:property>
    <con:property>
      <con:name>OphogenUren</con:name>
      <con:value>6</con:value>
    </con:property>
    <con:property>
      <con:name>ResetUren</con:name>
      <con:value>18</con:value>
    </con:property>
    <con:property>
      <con:name>Combinatie</con:name>
      <con:value>Y</con:value>
    </con:property>
    <con:property>
      <con:name>Verzoeker</con:name>
      <con:value>J. van Hemert</con:value>
    </con:property>
    <con:property>
      <con:name>Verweerder</con:name>
      <con:value>H. verweerder</con:value>
    </con:property>
    <con:property>
      <con:name>GerechtCode</con:name>
      <con:value>AR005</con:value>
    </con:property>
    <con:property>
      <con:name>InstantieCode</con:name>
      <con:value>0809</con:value>
    </con:property>
    <con:property>
      <con:name>Gerecht</con:name>
      <con:value>Middelburg</con:value>
    </con:property>
    <con:property>
      <con:name>Instantie</con:name>
      <con:value>Zeeland</con:value>
    </con:property>
    <con:property>
      <con:name>Omgeving</con:name>
      <con:value>FAT1</con:value>
    </con:property>
    <con:property>
      <con:name>EkantonNaamTeller</con:name>
      <con:value>0</con:value>
    </con:property>
    <con:property>
      <con:name>Driver</con:name>
      <con:value>oracle.jdbc.driver.OracleDriver</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@//zmtcl020.rechtspraak.minjus.nl:1521/NKP11GT2.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_FAT1</con:name>
      <con:value>${#Project#ConnectionStringZaak_FAT}</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_TEST</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak_ONTW</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_ZAAK}/${#Project#DB_PASSWORD_ZAAK}@zmodb153:1521:REGIO</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringZaak</con:name>
      <con:value>${#Project#ConnectionStringZaak_${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT</con:name>
      <con:value>zmtas378.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_FAT1</con:name>
      <con:value>${#Project#Endpoint_FAT}</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_TEST</con:name>
      <con:value>zmtas373.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint_ONTW</con:name>
      <con:value>zmoas373.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>Endpoint</con:name>
      <con:value>http://${#Project#Endpoint_${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>zetAutorisatie</con:name>
      <con:value>rs_autorisatie_owner.pps_vpd_context.set_context_oe('12');</con:value>
    </con:property>
    <con:property>
      <con:name>DB_USER_ZAAK</con:name>
      <con:value>RS_ZAAK_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_ZAAK</con:name>
      <con:value>RS_ZAAK_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijFAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtcl020.rechtspraak.minjus.nl:1521/NKP11GT2.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijTEST</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijONTW</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@zmodb045:1521:NKP11G</con:value>
    </con:property>
    <con:property>
      <con:name>DB_USER_PARTIJ</con:name>
      <con:value>RS_PARTIJ_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>DB_PASSWORD_PARTIJ</con:name>
      <con:value>RS_PARTIJ_OWNER</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartij</con:name>
      <con:value>${#Project#ConnectionStringPartij${#Project#Omgeving}}</con:value>
    </con:property>
    <con:property>
      <con:name>EndpointINTSIT</con:name>
      <con:value>http://zmtas366.rechtspraak.minjus.nl:8401</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringINTSIT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER}/${#Project#DB_PASSWORD}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijINTSIT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@//zmtdb155.rechtspraak.minjus.nl:1521/REGIT</con:value>
    </con:property>
    <con:property>
      <con:name>EndpointGAT</con:name>
      <con:value>zmacl063.a-rechtspraak.minjus.nl:80</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringGAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER}/${#Project#DB_PASSWORD}@zmacl018.a-rechtspraak.minjus.nl:1521/NKP11GA.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>ConnectionStringPartijGAT</con:name>
      <con:value>jdbc:oracle:thin:${#Project#DB_USER_PARTIJ}/${#Project#DB_PASSWORD_PARTIJ}@zmacl018.a-rechtspraak.minjus.nl:1521/NKP11GA.rechtspraak.minjus.nl</con:value>
    </con:property>
    <con:property>
      <con:name>Zaakaanduiding</con:name>
      <con:value>2011845</con:value>
    </con:property>
    <con:property>
      <con:name>serviceGenericProjectName</con:name>
      <con:value>Project-B</con:value>
    </con:property>
    <con:property>
      <con:name>serviceGenericWsdlProjectFile</con:name>
      <con:value>Project-B-soapui-project.xml</con:value>
    </con:property>
    <con:property>
      <con:name>PIET</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>JOOP</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>Resource</con:name>
      <con:value/>
    </con:property>
    <con:property>
      <con:name>TestRESTsite</con:name>
      <con:value/>
    </con:property>
    <con:databaseConnectionContainer>
      <con:databaseConnection>
        <con:name>MyDBCon</con:name>
        <con:driver xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:connectionString xsi:nil="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"/>
        <con:password/>
        <con:connectionProperties/>
      </con:databaseConnection>
    </con:databaseConnectionContainer>
    <con:jmsConnectionContainer/>
  </con:environment>
  <con:authRepository/>
  <con:tags>
    <con:tag>
      <con:id>1a1d51f3-1800-4921-a33a-a492bab81538</con:id>
      <con:name>First</con:name>
    </con:tag>
    <con:tag>
      <con:id>df2f5be4-0bcc-4041-8538-46a2f6dd8b21</con:id>
      <con:name>Second</con:name>
    </con:tag>
  </con:tags>
</con:soapui-project>
