<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="764120e2-063c-416b-bb3e-95216bc99466" name="UseExcelDatasource" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="764120e2-063c-416b-bb3e-95216bc99466fileName">UseExcelDatasource</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
