<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="6f0f637d-1d3d-4717-a557-27b69ea740e4" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://${#Project#TestRESTsite}" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="6f0f637d-1d3d-4717-a557-27b69ea740e4fileName">https%3A%2F%2F%24%7B%23Project%23TestRESTsite%7D</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://httpbin.org</con:endpoint>
  </con:endpoints>
</con:interface>
