<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6d997c9c-cbb8-4456-b626-21007f157a39" name="UseOfDataSources" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6d997c9c-cbb8-4456-b626-21007f157a39fileName">UseOfDataSources</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>