<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="d524e471-7ebd-4305-b29d-efdf5b9fcd58" name="Run TestCase Cleaning" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="7eaabb9c-5973-440f-97ee-4d3c36bb0ee6fileName">Properties-TestStep-Cleaning</con:setting>
    <con:setting id="d524e471-7ebd-4305-b29d-efdf5b9fcd58fileName">Run-TestCase-Cleaning</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
