<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="9e0c60ef-948c-4f1a-b24a-cd01c384bad2" name="TimeZone" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="9e0c60ef-948c-4f1a-b24a-cd01c384bad2fileName">TimeZone</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
