<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite name="Use xml datasources" id="adf3f18b-9405-43fc-9ea5-047e6e506478" xmlns:con="http://eviware.com/soapui/config">
    <con:settings><con:setting id="adf3f18b-9405-43fc-9ea5-047e6e506478fileName">Use-xml-datasources</con:setting></con:settings>
    <con:runType>SEQUENTIAL</con:runType>
    
    <con:properties/>
    <con:reportParameters/>
  </con:testSuite>