<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="37792aa9-4013-4642-8098-29d993e2fc76" name="PassingPropertiesToCalledTestCaseWithinSameTestSuiteWithContext" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="37792aa9-4013-4642-8098-29d993e2fc76fileName">PassingPropertiesToCalledTestCaseWithinSameTestSuiteWithContext</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
